@font-face {
  font-family: Lato-Black;
  font-style: normal;
  font-weight: normal;
  src: local('Lato-Black'), url(/fonts/Lato-Black.ttf);
}

$mainFont: Lato-Black, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: $mainFont;
  background-color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #4f4f4f;
  line-height: 42px;
}

.container{
  width: 708px;
  height: 100vh;
}

.standard{
  margin-top: 133px;
  margin-bottom: 57px;
}

.standardButtons{
  margin-left: 117px;
  width: 465px;
  height: 49px;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

.stdButton1, .stdButton4, .stdButton5, .stdButton8, .stdButton9,
.stdButton12{
  width: 78px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stdButton1 span, .stdButton4 span, .stdButton5 span, .stdButton8 span{
  //width: 44px;
  //height: 7px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  //line-height: 42px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: $mainFont;
}

.stdButton2, .stdButton3, .stdButton6, .stdButton7, .stdButton10,
.stdButton11{
  width: 118px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stdButton2 span, .stdButton3 span, .stdButton6 span, .stdButton7 span{
  //width: 52px;
  //height: 9px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  //line-height: 42px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-family: $mainFont;
  //display: flex;
  //align-items: center;
  //justify-content: center;
}

.stdButton9 span, .stdButton10 span{
  color: #45ac9d;
}

.stdButton11 span, .stdButton12 span{
  color: #e34a26;
}

.stdButton9 span, .stdButton12 span{
  //width: 44px;
  //height: 7px;
  font-size: 10px;
  font-weight: 400;
  //line-height: 42px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: $mainFont;
  //display: flex;
  //align-items: center;
  //justify-content: center;
}

.stdButton10 span, .stdButton11 span{
  //width: 52px;
  //height: 9px;
  font-size: 12px;
  font-weight: 400;
  //line-height: 42px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-family: $mainFont;
  //display: flex;
  //align-items: center;
  //justify-content: center;
}

.stdButton1, .stdButton2, .stdButton5, .stdButton6{
  background-color: #4eb7a8;
}

.stdButton3, .stdButton4, .stdButton7, .stdButton8{
  background-color: #e75735;
}

.stdButton9, .stdButton10, .stdButton11, .stdButton12{
  background-color: #ffffff;
}

.stdButton9, .stdButton10{
  border: 1px solid #4eb7a8;
}

.stdButton11, .stdButton12{
  border: 1px solid #e75735;
}

.stdButton9 {
  background: none;
  border: 1px solid;
  border-bottom-width: 3px;
  border-radius: 0.3em;
  //font: inherit;
  letter-spacing: inherit;
  //margin: 1em;
  //padding: 1em 2em;
  text-transform: inherit;
  transition: color 1s;
  $color: #4eb7a8;
  $color2: #88d6f3;
  color: $color;

  &:hover {
    animation: blinds 0.75s linear forwards;
    background: linear-gradient(0deg, $color 25%, transparent 25%) 0 0 / 0.5em 0.5em
    , linear-gradient(0deg, $color2 50%, transparent 50%) 0 0 / 1em 1em;
    color: adjust-hue($color,180);
  }
}

@keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

$color10: #4eb7a8;

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}
//
//.wrapper {
//  display: block;
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//}
.stdButton10 {
  //padding: 0.75em 2em;
  //text-align: center;
  text-decoration: none;
  color: $color10;
  border: 2px solid $color10;
  //font-size: 24px;
  //display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  //position: relative;
  //overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    //height: 100%;
    //width: 3em;
    //display: block;
    //position: absolute;
    //top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: $color10;
    color: #fff;
    border-bottom: 4px solid darken($color10, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: all 0.5s ease-in-out;
    }
  }
}