@font-face {
  font-family: Lato-Black;
  font-style: normal;
  font-weight: normal;
  //src: local('Lato-Black'), url(../fonts/Lato-Black.ttf);
  src: local('Lato-Black');
}

$mainFont: Lato-Black, sans-serif;
$color1: #45ac9d;
$color2: #e34a26;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: $mainFont;
  background-color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #4f4f4f;
  line-height: 42px;
}

.container {
  width: 708px;
  height: 100vh;
}

.standard {
  margin-top: 133px;
  margin-bottom: 57px;
}

.standardButtons {
  margin-left: 117px;
  width: 465px;
  height: 49px;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

.stdButton1, .stdButton4, .stdButton5, .stdButton8, .stdButton9,
.stdButton12 {
  width: 78px;
  height: 22px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.stdButton1, .stdButton4, .stdButton5, .stdButton8, .stdButton2, .stdButton3, .stdButton6, .stdButton7 {
  color: #ffffff;
}

.stdButton2, .stdButton3, .stdButton6, .stdButton7, .stdButton10,
.stdButton11 {
  width: 118px;
  height: 32px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.stdButton1, .stdButton2, .stdButton5, .stdButton6 {
  background-color: $color1;
}

.stdButton3, .stdButton4, .stdButton7, .stdButton8 {
  background-color: $color2;
}

.stdButton9, .stdButton10, .stdButton11, .stdButton12 {
  background-color: #ffffff;
}

.stdButton9, .stdButton10 {
  border: 1px solid $color1;
  color: $color1;
}

.stdButton11, .stdButton12 {
  border: 1px solid $color2;
  color: $color2;
}

.stdButton1, .stdButton2 {
  border-radius: 0.3em;
  box-shadow: 0px 2px 4.85px 0.15px #268d7a;
}

.stdButton3, .stdButton4 {
  border-radius: 0.3em;
  box-shadow: 0 0 0 60px $color2 inset, .1em .1em .2em #912f17;
}

.stdButton1:hover, .stdButton3:hover {
  transform: scale(1.1, 1.1);
}

.stdButton2:hover, .stdButton4:hover{
  box-shadow: 0px 0px 0px 0.2px;
}


//.stdButton1, .stdButton2, .stdButton3, .stdButton4{
//  cursor: url(../pics/ellipse2.cur) 20 25, pointer;
//}

.stdButton5, .stdButton6 {
  border-radius: 0.3em;
  box-shadow: 0 0 0 60px #28a290 inset, .1em .1em .2em #268d7a;
  background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}

.stdButton5:active {
  top: .1em;
  left: .1em;
  color: $color2;
  box-shadow: 0 0 0 60px $color1 inset;
}

.stdButton6:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}

.stdButton7, .stdButton8 {
  border-radius: 0.3em;
  box-shadow: 0 0 0 60px $color2 inset, .1em .1em .2em #912f17;
  background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}

.stdButton7:active {
  top: .1em;
  left: .1em;
  color: $color2;
  box-shadow: 0 0 0 60px $color1 inset;
}

.stdButton8:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}

.stdButton9 {
  background: none;
  border: 1px solid;
  border-bottom-width: 3px;
  border-radius: 0.3em;
  transition: color 1s;
  color: $color1;

  &:hover {
    animation: blinds 0.75s linear forwards;
    background: linear-gradient(0deg, $color1 25%, transparent 25%) 0 0 / 0.5em 0.5em, linear-gradient(0deg, $color2 50%, transparent 50%) 0 0 / 1em 1em;
    color: adjust-hue($color1, 180);
  }
}

@keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }
}

.stdButton10 {
  border: 1px solid $color1;
  border-bottom-width: 3px;
  border-radius: 0.3em;
  &:hover {
    background-color: $color1;
    color: #fff;
    border-bottom: 4px solid darken($color1, 10%);
  }
}

.stdButton11 {
  border: 1px solid $color2;
  border-bottom-width: 3px;
  border-radius: 0.3em;
  &:hover {
    background-color: $color2;
    color: #fff;
    border-bottom: 4px solid darken($color2, 10%);
  }
}

.stdButton12 {
  border: 1px solid $color2;
  border-bottom-width: 3px;
  border-radius: 0.3em;
  color: $color2;
  &:hover {
    animation: pulse 1s ease-in infinite;
    background: radial-gradient(circle, rgba($color2, 0.25) 43%, transparent 50%) 0 0 / 1em 1em, radial-gradient(circle, rgba($color2, 0.25) 43%, transparent 50%) 0.5em 0.5em / 2em 2em;
    color: darken(adjust-hue($color2, 180), 30%);
  }
}

@keyframes pulse {
  50% {
    background-position: 0.66em 0.66em, -0.33em -0.33em;
  }

  100% {
    background-size: 2em 2em, 1em 1em;
    background-position: -1.5em -1.5em, -1em -1em;
  }
}

.arrowText{
  margin-top: 57px;
}

.arrowButtons{
  width: 420px;
  margin-top: 38px;
  margin-left: 138px;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.lfArrow, .rtArrow{
  width: 50px;
  height: 50px;
  border: 3px solid $color1;
  border-radius: 50%;
  text-decoration: none;
  color: $color1;
}

.lfArrowGray, .rtArrowGray{
   width: 50px;
   height: 50px;
   background-color: #e5e5e5;
   border-radius: 50%;
   text-decoration: none;
   color: #ffffff;
 }

.lfArrowPaint, .rtArrowPaint{
  width: 50px;
  height: 50px;
  background-color: $color1;
  border-radius: 50%;
  text-decoration: none;
  color: #ffffff;
}

.arrow::before {
  border-style: solid;
  border-width: 0.3em 0.3em 0 0;
  content: '';
  display: inline-block;
  position: relative;
  top: 0.5em;
  right: 0.2em;
  transform: rotate(-135deg);
  width: 15px;
  height: 15px;
}
.arrow.lfArrow::before{
  margin-bottom: 5%;
  margin-left: 30%;
}
.arrow.rtArrow::before{
  margin-bottom: 5%;
  margin-right: 3%;
}
.arrow.lfArrowGray::before, .arrow.lfArrowPaint::before{
  margin-left: 30%;
}
.arrow.rtArrowPaint:before, .arrow.rtArrow:before, .arrow.rtArrowGray:before{
  transform: rotate(45deg);
}

.percentagesText{
  margin-top: 49px;
}

.percentages{
  margin: 28px 0 0 50px;
  width: 574px;
  height: 95px;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.percen{
  width: 85px;
  height: 85px;
}

.percen span{
  width: 21px;
  height: 30px;
  color: #9d9d9d;
  font-size: 40px;
  font-weight: 300;
  line-height: 42px;
  letter-spacing: -2px;
}

.percen2 {
  width: 95px;
  height: 95px;
  border: 3px solid #e75735;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotate(225deg);
  transition: all 5s ease;
}
.stagesText{
  margin-top: 63px;
}

ul{
  margin: 29px 0 0 50px;
  width: 596px;
  height: 29px;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

li {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: $color2;
  margin: 0 1em;
  display: inline-block;
  position: relative;
}

li div{
  color: #ffffff;
  margin-bottom: 10%;
  //vertical-align: middle;
  //text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.7px;
}

li::before{
  content: '';
  position: absolute;
  top: .7em;
  left: -6em;
  width: 6em;
  height: .3em;
  background: $color2;
  z-index: -1;
}

li:first-child::before {
  display: none;
}

.active ~ li {
  background: #e5e5e5;
}

.active ~ li div{
  color: black;
}

.active ~ li::before {
  background: #e5e5e5;
}

.formText{
  margin-top: 57px;
}